@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,800,300);


body{
	background-color: black;
	/*background: url(../img/earth.jpg);*/
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 18px;
	color: white;
	padding: 0;
	margin:0;
	/*margin-top: 15px;*/
	background: url(../img/bg.jpg);
	background-position: middle top;
}
#shopping-cart{
	position: absolute;
	top:0px;
	right:15px;

	cursor: pointer;

	font-size: 12px;
	opacity: 0;

	transition: all .5s ease;
	-webkit-transition: all .5s ease;
}
#shopping-cart i{
	font-size:45px;
}
#container {
	width:1024px;
	margin:0 auto;
}

#container #img-thumbnails , #container #right-submenu{
	height: 653px;
	overflow-y:auto;
	width:95px;
	/*float:right;*/
	padding-left:5px;

	border-left:5px solid rgba(255,255,255,.2);
}

input , button,select{
	background-color: transparent;
	padding:6px;
	border: 1px solid #999;
	outline: none;
	font-weight: 300;
	color:white;
	border-radius: 5px;
}

button{
	text-transform: uppercase;
	padding:6px 10px;

}

#container #nav-menu{
	width:70px;
	height: 500px;
	border-right:5px solid rgba(255,255,255,.2);
	height: 653px;

}

#container #nav-menu ul{
	margin:0;
	padding:0;
}
#container #nav-menu ul > li >i{ font-size: 30px; }
#container #nav-menu ul > li{
	padding:0;
	margin:35px 0;
	list-style: none;
	color: rgba(255,255,255,.2);
	height: 50px;
	line-height: 60px;

	padding:4px;

	text-align: center;

	transition: all .5s ease;
	-webkit-transition: all .5s ease;
}
#container #nav-menu ul >li:hover{
	/*background-color: #ccc;*/
	color: rgba(255,255,255,1);

}
#container #nav-menu ul >li:hover .count{
	background-color: white;
}
#container #nav-menu ul >li:first-child:hover{
	background-color: inherit;
}
#container #nav-menu ul> li:first-child{ margin-bottom: 125px; margin-top:0; opacity:0;}


#listOfPeople{
	position: fixed;
	top:20%;
	left:40%;
	width:15%;
	min-width: 180px;
	background-color:rgba(255,255,255,.8);
	border-radius: 6px;
	padding:10px;

	color:black;

	box-shadow: 0px 0px 15px #ccc;
	overflow-y:auto;
	max-height: 300px;
	z-index: 100;
}
#listOfPeopleBg{
	background: rgba(0,0,0,.3);
	width:100%;
	height:100%;
	position: absolute;
	left:0;top:0;
	z-index: 99;

}

#search-container{

	position: fixed;
	top: 10px;
	left: 10px;

	overflow: visible;

	background-color:rgba(255,255,255,.2);
	
	padding:10px;
	width:195px;
	
	display:block;
	z-index: 5;
	
	font-size: 15px;

	line-height: 25px;
	border-radius: 6px;

	opacity: 0;
	box-shadow: 0px 0px 15px #ccc;
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
}

#container #nav-menu #search-container input{ padding:5px; font-size: 13px}

#container #product.clear{
	margin-top:40px;
}

#container #product{
	text-align: center;
	width:819px;
	/*height: 653px;*/
}
#container #product #right #product-details{
	opacity: 0;
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
}

#container #product #brand{
	font-weight:800;
	background-color: rgba(255,255,255,.2);
	padding:6px;
	width: 150px;
	margin:0 auto;
	border-radius: 5px;
}

#container #product #price{
	font-weight:300;

	padding:5px 0 10px 0;
}

#user img#avatar{ 
	cursor: pointer;
	border-radius: 10px;
}
#container #product img#big-image{
	max-height: 500px;
	cursor:zoom-in;
	-webkit-cursor:zoom-in;
	border-radius: 10px;
}

#container #product #zoom-container{
	float:left;
	width:208px;

	background-repeat: no-repeat;
	opacity:0;
	margin-top: 30px;
	margin-bottom: 30px;
	height: 230px;

	transition: opacity .5s ease;
	-webkit-transition: opacity .5s ease;
}

#container{
	overflow: hidden;
}
#container #img-thumbnails img {
	max-width: 60px;
	display:block;

	border-radius: 5px;
	margin:10px;

	border: 3px solid transparent;

	transition: all .5s ease;
	-webkit-transition: all .5s ease;
}

#container #img-thumbnails img.current{
	/*border: 1px solid #e30086;*/
	box-shadow: 0px 0px 14px white;
	border:3px solid white;

}

#container #img-thumbnails img.unread{
	background-color: #ddd;
}

*::-webkit-scrollbar { 
	width: 5px; 
	height: 5px;
}

*::-webkit-scrollbar-button {  
	background-color: transparent; 
	width:0; 
	height:0;
}

*::-webkit-scrollbar-track {  
	background-color: transparent;
}

*::-webkit-scrollbar-track-piece { 
	background-color: transparent;
}

*::-webkit-scrollbar-thumb { 

	background-color: rgba(255,255,255,.2); 
}

*::-webkit-scrollbar-corner { 
	background-color: transparent;
}

*::-webkit-resizer { 
	background-color: transparent;
}

#product #bottom .item:hover img{ opacity:1;}
#product #bottom .item:hover{
	color:rgba(255,255,255,1);
	transition: all .5s ease;
	-webkit-transition: all .5s ease;

	
}
#product #bottom .item:hover .count{
	background-color: white;
}

#product #bottom{
	color:rgba(255,255,255,.3);
	width:403px;
	overflow: hidden;
	margin:5px auto 0 auto;
}
#product #bottom i{
	font-size: 25px;
	margin-top: 20px;
}

#product #bottom .item img{ opacity: .3;  transition: all .5s ease; -webkit-transition: all .5s ease;}
#product #bottom .item{
	float:left;
	width: 67px;
	margin:0 33px;
	cursor: default;
	font-size: 12px;
}
ul.peopleList{
	position: relative;
	display: inline-block;
	margin:0;
	padding:0;
	color: black;
	border-radius: 5px;
	background-color: #ccc;
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
}
ul.peopleList li{
	margin:0;
	padding:5px;
	
	list-style: none;
	font-size: 13px;

}

#product #bottom .item span{
	position:relative;
	left:-10px;
}
.count{
	background-color: rgba(255,255,255,.5);
	border-radius: 100%;
	color: black;
	font-weight: 400;
	width: 15px;
	font-size: 11px;
	height: 15px;
	line-height: 15px;
	text-align: center;
	display: inline-block;
	position: relative;
	top:-20px;
	left:-7px;
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
}	

#product #bottom ul.list{
	margin:0;
	padding: 0;
	background-color: gray;
	position: relative;

}

#product #bottom .item ul.list li{
	margin:0;
	padding: 0;
	list-style: none;
}

#container .page {
	float:left;
	width: 840px;
	overflow: hidden;
}


.tab{
	padding:5px 12px;
	border:1px solid rgba(255,255,255,.4);
	border-bottom:4px solid rgba(255,255,255,.4);
	font-weight: 300;
	color:rgba(255,255,255,.8);
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	border-radius: 5px 5px 0 0;
	background-color: rgba(255,255,255,.2);

	transition: all .5s ease;
	-webkit-transition: all .5s ease;

}
.tab:hover,.tab.selected{
	border:1px solid rgba(255,255,255,.6);
	border-bottom:4px solid rgba(255,255,255,.6);
	color:rgba(255,255,255,1);
	background-color: rgba(255,255,255,.4);
}

.tab-content{
	overflow:hidden;
	margin-top:20px;
}
.tab-content input{
	margin:1px 0;
}

.color{
	width: 15px;
	height:15px;
	display: inline-block;
	cursor: pointer;

	margin:0 5px;
}

.color.selected{
	padding:3px;
}

.rotate{
	-ms-transform: rotate(45deg); 
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

#moreList{
	line-height: 20px;
	font-size: 13px;
	opacity: 0;
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
}
#moreList a{
	color:#333;
	text-decoration: none;
}

.brands{
	max-height: 440px;
	overflow-y: auto;
	width: 220px;
}
.brand{
	font-weight:800;
	background-color: rgba(255,255,255,.2);
	padding:6px;
	width: 150px;
	color: black;

	margin:8px auto;
	border-radius: 5px;


}


.multiselect {
	width:15em;
	height:6em;

	overflow:auto;
}

.multiselect label {
	display:block;
}

#shoppingBagIcon{
	cursor:pointer;
}
#bottom #likes,#bottom #pins, #bottom #purchased, #bottom .count{
	cursor:pointer;
}

#myFavoriteBrands div{
	cursor: move;
}
#myFavoriteBrands div:hover .sign{
	display:block;
}

#moreList a{
	color:white;
}

.person img{ border-radius: 4px 0 0 4px; }
.person {margin-bottom:10px; cursor: pointer;border-radius: 4px; background-color: rgba(255,255,255,.5);}
.person:hover{
	background-color: rgba(255,255,255,1);
}
.person:last-child{margin-bottom: 0;}

.sign {
	float:right;
	cursor: pointer;
}

#my-sizes-content img{
	opacity: .8;
	border-radius: 7px;
}
#my-sizes-content .sizeInfo img{
	margin-bottom: 10px;
}
#my-sizes-content .sizeInfo:first-child{ margin-top:30px;}
#my-sizes-content .sizeInfo{
	margin-bottom: 30px;
}